<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:batch="http://www.springframework.org/schema/batch" 
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/batch
	http://www.springframework.org/schema/batch/spring-batch-2.2.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<!-- stored job-meta in memory --> 
	
	<bean id="jobOperator" class="org.springframework.batch.core.launch.support.SimpleJobOperator">            
  <property name="jobRepository" ref="jobRepository"/>
  <property name="jobLauncher" ref="jobLauncher" />   
  <property name="jobRegistry" ref="jobRegistry" />   
  <property name="jobExplorer" ref="jobExplorer" />   
</bean> 


	<batch:job-repository id="jobRepository"
    data-source="dataSource"
    transaction-manager="transactionManager"
    isolation-level-for-create="SERIALIZABLE"
    table-prefix="BATCH_"
 max-varchar-length="1000"/>


	<!-- <bean id="jobRepository" 
		class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="DataSource" ref="dataSource"/>
		<property name="databaseType" value="oracle" />
	</bean> -->
 	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="DataSource" ref="dataSource"/>
		</bean>
	 
	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />	
	</bean>


<bean class="org.springframework.batch.core.configuration.support.JobRegistryBeanPostProcessor">
  <property name="jobRegistry" ref="jobRegistry" />
</bean>

<bean id="jobRegistry" class="org.springframework.batch.core.configuration.support.MapJobRegistry" />


<bean id="jobExplorer" class="org.springframework.batch.core.explore.support.JobExplorerFactoryBean">
  <property name="DataSource" ref="dataSource" /> 
</bean>

<bean class="org.springframework.jmx.export.MBeanExporter">
  <property name="beans">
    <map>
      <entry key="com.manning.sbia:name=jobOperator"
             value-ref="jobOperator" />
    </map>
  </property>
</bean>

</beans>
